<ion-view view-title="Friends" ng-init="getFriends()">
  <ion-content>
    <div class="card-container">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Find friends!" ng-keyup="findFriends(friendName)" ng-model="friendName">
        </label>
      </div>
      <ion-list>
        <ion-item ng-repeat="result in searchResult">
          <div class="item item-avatar" style="border-style:none;">
            <img ng-src="{{result.avatar}}">
            <span class="right"><button class="button button-balanced ion-plus right" ng-click="addFriend(result.name)"></button></span>
            <h2>{{result.name}}</h2>
            <p>{{result.fullname}}</p>
          </div>
        </ion-item>
      </ion-list>
      <ion-list>

        <ion-item ng-repeat="friend in friends">
          <span>{{friend.friendName}}</span><br>
          <span class="right">Status: {{friend.status}}</span><br>
          <button class="button button-assertive ion-close right" ng-click="cancelFriend()"></button>
          <button class="button button-balanced ion-checkmark right" ng-click="acceptFriend(friend)"></button>

        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
