<ion-view view-title="Member Area">
  <ion-header-bar align-title="center" class="bar-positive">

  </ion-header-bar>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        {{username}} {{email}} {{_id}}
      </div>
    </div>

  <label class="item item-input">
      <input type="text" placeholder="Name" ng-model="user.name">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="password" ng-model="user.password">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="full name" ng-model="user.fullname">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="occupation" ng-model="user.occupation">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="email" ng-model="user.email">
    </label>
  </div>
  <button class="button button-full button-positive" ng-click="updateUser()">
    Save
  </button>
   {{ ServerResponse }}

  <button class="button button-full button-assertive" ng-click="destroySession()">
      Destroy token
    </button>
    <button class="button button-full button-balanced" ng-click="getInfo()">
      Get Memberinfo
    </button>
  </ion-content>
</ion-view>
