<ion-view view-title="Member Area" ng-init="getInfo()">
  <ion-header-bar align-title="center" class="bar-positive">

  </ion-header-bar>
  <ion-content class="padding">
    <!--<div class="card">
      <div class="item item-text-wrap">
        {{username}} {{email}} {{_id}} {{occupation}} {{fullname}}
      </div>
    </div>-->
  <label>Name</label>
  <label class="item item-input">

      <input type="text" placeholder="{{username}}" ng-model="user.name">
    </label>
  <label>Password</label>
    <label class="item item-input">
      <input type="password" placeholder="" ng-model="user.password">
    </label>
  <label>Full name</label>
    <label class="item item-input">
      <input type="text" placeholder="{{fullname}}" ng-model="user.fullname">
    </label>
  <label>Occupation</label>
    <label class="item item-input">
      <input type="text" placeholder="{{occupation}}" ng-model="user.occupation">
    </label>
<label>Email</label>
    <label class="item item-input">

      <input type="text" placeholder="{{email}}" ng-model="user.email">
    </label>
  </div>
  <button class="button button-full button-positive" ng-click="updateUser()">
    Save
  </button>
   {{ ServerResponse }}

  <button class="button button-full button-assertive" ng-click="destroySession()">
      Destroy token
    </button>
    <!--<button class="button button-full button-balanced" ng-click="getInfo()">
      Get Memberinfo
    </button>-->
  </ion-content>
</ion-view>
