/*.popup-container .popup {
    width: 100%;
    height: 100%;
    max-height:100%;
    background-color:white;
  }
.popup-head {
  border:none;
}
.popup-container textarea {
  background-color:#fcffe3;
  width:100%;
}
.popup-body {
  overflow-y:hidden;
}*/
.right {
  float: right !important;
}
